.user-card-wrapper {
  background-color: var(--card-background-color);
  display: flex;
  border-radius: 1rem;
  margin-top: 2rem;
  color: var(--font-color);
  padding: 2rem;
  width: 45rem;
  justify-content: space-around;

}

.user-card-wrapper h1 {
  font-size: 1.5rem;
}

.avatar-icon {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  background-color: var(--app-background-color);
  justify-content: space-around;
  padding: 1rem 0;
  margin-top: 2rem;
  border-radius: 1rem;
}

.contact-info {
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 2rem;
}

.info-section {
  display: flex;
  height: 3rem;
  align-items: center;
}

.info-section img {
  margin-right: 1rem;
}

h4 {
  color: var(--accent-color);
  height: 2rem;
}

h5 {
  color: var(--secondary-font-color);
  margin-top: 2rem;
}

.text-primary {
  font-size: 1.3rem;
  font-weight: 900;
}

.text-secondary {
  font-size: 0.8rem;
  text-decoration: none;

}

.social:hover {
  text-decoration: underline;

}

.social:visited {
  color: var(--visited-color);
  text-decoration: none;
}

.not-found {
  color: var(--visited-color);
}