.header-wrapper {
  display: flex;
  width: 45rem;
  justify-content: space-between;
  color: #fff;
  height: 3rem;
}

.header-text{
  font-size: 1.5rem;

}

.switch {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.switch-image {
  width: 25px;
  height: 25px;
}