.search-wrapper {
  width: 45rem;
  height: 4rem;
  background-color: var(--card-background-color);
  display: flex;
  align-items: center;
  padding: 0 5px 0 10px;
  border-radius: 10px;
}

.search-icon {
  margin-right: 1rem;
}

.search-wrapper input {
  flex-grow: 1;
  border: none;
  background-color: var(--card-background-color);
  color: var( --font-color);
  font-size: 16px;
  outline: none;
}

.search-wrapper input::placeholder {
  color: var(--font-color);
  font-size: 16px;
}

.search-wrapper button {
  background-color: var(--accent-color);
  width: 5rem;
  height: 3rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  color: var(--button-color);
  border: none;
  cursor: pointer;
}

.search-wrapper button:hover {
  background-color: var( --accent-hover);
}

.search-wrapper button:active {
  background-color: var( --accent-hover);
}

.no-results {
  color: var(--error)

}